# MongoDB Configuration
MONGODB_URI=mongodb+srv://socialvilla03:Faqruddin@0307@cluster0.hejzvnw.mongodb.net/?appName=Cluster0
DATABASE_NAME=socialvilla03

# Owner Authentication
JWT_SECRET=YOUR_SECRET
